<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <script language="JavaScript">
        function send() {
            let object = {
                "code": document.getElementById("code_snippet").value
            };

            let json = JSON.stringify(object);

            let xhr = new XMLHttpRequest();
            xhr.open("POST", '/api/code/new', false)
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.send(json);

            if (xhr.status == 200) {
                alert("Success!");
            }
        }
    </script>
    <style>
        html {
            margin: 10px;
        }

        textarea {
            font-family: "Lucida Console", monospace;
            line-height: 1.8em;
            font-size: 14px;
            margin-bottom: 15px;
            width: 65em;
            height: 18em;
            padding: 10px 15px 10px 15px;
        }

        button {
            font-family: "Lucida Console", monospace;
            padding: 12px 25px;
        }
    </style>
</head>
<body>
<form>
    <textarea id="code_snippet" class="code"> //write your code here </textarea> <br>
    <button id="send_snippet" type="submit" onclick="send()">Submit</button>
</form>
</body>
</html>